_site
.sass-cache
.DS_Store
.jekyll-metadata
*.gitignore

# Ignore the config file that's used for gh-pages.
_config.gh-pages.yml

Gemfile.lock
_posts/_research
_posts/_temp
_posts/_drafts
_posts/_archive
